<!DOCTYPE html>
<html lang="en">
<html>
	<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>EncrypChat</title>
	</head>

	<body>
		<h3>Project Time</h3>
		<script type="text/javascript" src="static/js/materialize.min.js"></script>
	</body>
</html>
